  #nginx配置
  server {
    listen 80;
    server_name blog.saywhen.site;

   location / {
        charset utf-8;
        root  /usr/local/notebook/contac/;
        index index.html index.htm;
        autoindex on;
        try_files $uri $uri/ =404;
    }
}